@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

:root {
    /*----------------- Global -----------------*/
    --palette1_Color1: #183c6c;
    --palette1_Color2: #506BA0;
    --palette1_Color3: #E4F0FF;
    --palette1_Color4: #D7A31A;

    --palette2_Color1: #183c6c;
    --palette2_Color2: #4191F9;
    --palette2_Color3: #F4F9FF;
    --palette2_Color4: #FFF7D6;

    --Color1: white;
    --Color2: black; 
    --Color3: #D7D7D7;
    --Color4: #dbebf9;
    --Color5: rgb(80,80,80);
    --Color6: rgb(69,69,69);
    
    --fontColor1: white;
    --fontColor2: rgb(80,80,80);

    --borderRadius: 20px;
    --footer_Height: 30px;
    --logo_Width: 300px

    --Size1: clamp(5px, 0.5vw + 1px, 10px);
    --fontSize: clamp(1rem, 1vw + .5rem, 1.5rem);

    /*----------------- Debug -----------------*/
    --mainContainer_BGColor: transparent;
    --wrapper_BGColor: transparent;

    /*----------------- Screen Dependent -----------------*/
    --sideNav_Pos: relative;
    --sideNav_Width: 300px;
    --hamMenu_Display: none;
    --scrollBarWidth: 17px;
    --UserMenuHeight: 150px;
    
}

@media only screen and (min-width: 200px) and (max-width: 860px)  {
    :root {
        --sideNav_Pos: absolute;
        --sideNav_Width: 0px;
        --hamMenu_Display: grid;
    }
}

* {
    margin: 0;
    padding: 0;
    cursor: default;
    list-style: none;
    text-decoration: none;
}
    
body {
    display: grid;
        height: 100vh;                  /* Backup Height */
        height: 100svh;                 /* Main Height in small view port units */ 
        width: 100vw;
    background: var(--Color1);
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Open Sans", sans-serif;
    color: var(--fontColor1);
    overflow: hidden;
}

a {
    color: var(--fontColor1);
}

hr {
    width: 100%;
}

label {
    text-indent: 10px;
    padding: 5px 0 10px 0;
    text-align: left;
}

input, textarea, select {
        height: 35px;
        width: 97%;
    border: 1px solid var(--Color3);
    border-radius: 5px;
    font-size: .85rem;
    margin: 3px;
    text-indent: 10px;
    outline: none;
}

input:focus, textarea:focus, select:focus {
    border-color: var(--Color4);
    box-shadow: 0 0 2px 2px var(--Color4);
}

input[type="checkbox"] {
    height: 30px;
    width: 30px;
    margin: 10px;
}

button {
        height: 45px;
        width: 100px;
    border: 1px solid var(--Color3);
    background-color: var(--Color1);
    border-radius: 5px;
    color: var(--Color5);
    font-size: 1rem;
    margin: 10px;
}

button:not([disabled]):hover {
border-color: var(--Color4);
box-shadow: 0 0 2px 2px var(--Color4);
transition: all .15s linear;
color: var(--Color5);
}

button:not([disabled]):active {
    border-color: var(--Color4);
    box-shadow: none;
}

.mainContainer {
    display: grid;
        height: 100%;
        width: 100%;
    place-items: center;
    background-color: var(--mainContainer_BGColor);
}

.wrapper {
    display: grid;
        height: 100%;
        width: 100%;
    place-items: center;
    background-color: var(--wrapper_BGColor);
}

.header {
    display: flex;
        height: fit-content;
        width: 100%;
    flex-direction: row;
    border-bottom: var(--Color3) solid 2px;
    z-index: 1100;
}

.footer {
    display: flex;
        height: var(--footer_Height);
        width: 100%;
    flex-direction: row;
}

.listVerti {
    display: flex;
        height: 100%;
        width: 100%;
    flex-direction: column;
    place-items: center;
    overflow: hidden;
    isolation: isolate;
}

.listHori {
    display: flex;
        height: 100%;
        width: 100%;
    flex-direction: row;
    place-items: center;
    overflow: hidden;
    isolation: isolate;
}

.listHori > *, .listVerti > * { width: 100% }

.sideNavTemplate {
    display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: auto 1fr;
}

.hoverColor3:hover { background-color: var(--Color3) }

.flex { display: flex!important }
.fitContent { 
    width: fit-content; 
    height: fit-content;
}
.frame {
    /* display: grid; */
        height: 90%;
        width: 92.5%;
}

.alignTop { align-content: top }
.justifyTop { justify-content: top }
.alignCenter { align-content: center }
.justifyCenter { justify-content: top }
.justifyBottom { justify-content: bottom  }
.alignLeft { justify-content: left }
.alignRight { justify-content: right }
.alignBottom { align-content: end }

.textCenter { text-align: center }
.textLeft { text-align: left }
.textJustify { text-align: justify }
.textIndent20 { text-indent: 20px }
.textIndent10 { text-indent: 10px }

.fontXXXL { font-size: 2rem; }
.fontXXL { font-size: 1.75rem; }
.fontXL { font-size: 1.5rem; }
.fontL { font-size: 1.25rem; }
.fontM { font-size: 1rem; }
.fontS { font-size: 0.75rem; }
.fontXS { font-size: 0.5rem; }

.fontBold { font-weight: 400 }

.fontColor1 { color: var(--fontColor1); }
.fontColor2 { color: var(--fontColor2) }

.paletteColor1 { background-color: var(--palette2_Color1) }
.paletteColor2 { background-color: var(--palette2_Color2) }
.paletteColor3 { background-color: var(--palette2_Color3) }
.paletteColor4 { background-color: var(--palette2_Color4) }
.bgColor1 { background-color: var(--Color1) }
.bgColor2 { background-color: var(--Color2) }
.bgColor3 { background-color: var(--Color3) }

.cursorNone { cursor: none }
.scrollbarHidden { width: calc(100% + var(--scrollBarWidth)) }

.boxShadow1 { box-shadow: var(--Color5) 0px 7px 20px 0px }
.boxShadow2 { box-shadow: var(--Color5) 0px 0px 15px 0px }

.boxBorder1 { border: 2px solid var(--Color3) }
.boxBorder2 { border-left: 5px solid var(--palette1_Color1) }

.borderRadius100 { border-radius: 100% }
.borderRadius1 { border-radius: var(--borderRadius) }

.overflowHidden { overflow: hidden }

.childHeight100p > * { height: 100% }

.padding30 { padding: 30px }

.hidden { visibility: hidden }
.displayNone { display: none!important }

.red{ background-color: red }
.blue{ background-color: lightblue }
.green{ background-color: lightgreen }
.pink{ background-color: lightpink }
.grey{ background-color: lightgrey }

.logo {
    display: grid;
        height: var(--header_Height);
        max-width: 300px;
    place-items: center;
    border-right: 2px solid var(--Color3);
}

.logo > .wrapper > img {
    width: 85%;
    aspect-ratio: 13/2;
    margin: 20px;
}

.popUp {
    position: absolute;
    display: none;
    /* display: grid; */
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    place-content: center;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    z-index: 1000;
}

.sideNav {
    position: var(--sideNav_Pos);
    display: grid;
        height: 100%;
        width: var(--sideNav_Width);
        top: 0;
        left: 0;
    align-items: center;
    transition: width .15s linear;
    background-image: linear-gradient(to right, var(--palette1_Color1), var(--palette1_Color2));
    overflow: hidden;
    z-index: 1000;
}

.sideNavTab { border-left: 5px solid var(--palette1_Color1) }

.sideNavTab:hover{
    background-color: var(--palette1_Color2);
    border-left: 5px solid var(--Color1);  
}

.sideNav[data-status = "active"] { width: 300px!important }
.sideNavTab[data-enabled="false"] { color: var(--palette1_Color2) }

.hamMenu {
    display: var(--hamMenu_Display);
        height: 100%;
        width: fit-content;
    padding: 0 20px 0 20px;
    /* background-color: red; */
}

.hamMenu > .wrapper > * {
        height: 4px;
        width: 30px;
    border-radius: var(--borderRadius);
    background-color: var(--Color2);
    opacity: 50%;
    margin: 5px 0 0 0;
    transition: transform .1s linear;
}


.hamMenu[data-status = "active"] > .wrapper > *:nth-child(2) { transform: translate(0, 260%) rotate(45deg) }
.hamMenu[data-status = "active"] > .wrapper > *:nth-child(3) { visibility: hidden }
.hamMenu[data-status = "active"] > .wrapper > *:nth-child(4) { transform: translate(0, -260%) rotate(-45deg) }

.dropDown {
    position: absolute;
        height: 0;
        width: 200px; 
        top: 100%; 
        right: 0; 
    transition: height .25s linear;
    overflow: hidden;
    z-index: 1000;
}

.dropDown > * {
    position: absolute;
    height: var(--UserMenuHeight);
}

.dropDown > * > * { 
    height: 100%;
    border-bottom: 1px solid var(--Color5);
}

.dropDown[data-status = "active"] { height: var(--UserMenuHeight) }


