#FormSpace {
    display: grid;
        height: 95%;
        width: 90%;
    place-items: center;
    border-radius: var(--borderRadius);
    background-color: var(--Color1);
    overflow: hidden;
}

#ProfileImage {
    display: flex;
        height: 100%;
    place-items: center;
    padding: 0 10px 0 10px;
}

#FormHeading {
   padding: 10px 0 10px 0;
}