#Login_Window {
    position: relative;
        min-height: 400px;
        height: 50%;
        max-height: 500px;
        min-width: 300px;
        width: 50%;
        max-width: 500px;
    /* margin: 30px; */
    border-radius: var(--borderRadius);
    background-color: var(--palette2_Color3);
    overflow: hidden;
}

#Login_Window > ul {
    width: 95%;
    height: 95%;
}

#Login_Window > ul > li:first-child {
    padding: 20px 0 10px 0;
}

